body{
    width: 100%;
    background-color: #98d6ed;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, sans-serif;
    background-image: url("../assets/img/back.JPEG");
}
#main{
    background-color: #d9f5ff81;
    border-radius: 10px;
    padding: 10px;
}
.container{
    margin: auto;
    max-width: 800px;
}
header{
    margin: auto;
    margin-bottom: 10px;
    max-width: 800px;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d9f5ff81;
    border-radius: 10px
  }
  
header li {
    float: left;
}
header a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
header #me{
    float: right;
}
  
  /* Change the link color to #111 (black) on hover */
header ul a:hover {
background-color: #a0ddfa;
}

main ol{
    padding: 0;
    margin: 15px;
}

main a:hover{
    color: rgb(0, 204, 255);
    text-decoration: none;
}
main a{
color: black;
text-decoration: none;
}
main .link{   
    color: #0088b9;
}
main .postimg{
    margin: 20px;
    border-radius: 10px;
}
pre{
    background-color: rgba(250, 235, 215, 0.349);
    border-radius: 5px;
    padding: 10px;
    overflow-x: scroll;
}
